.resume {
    padding-top: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before-circle;
        &:before {
            width: 50px;
            height: 50px;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
        margin-top: 30px;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-color: $main-color;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background-color: black;
                    top: -16px;
                    left: 8px;
                }
            }
        }
    }
}