.title {
    font-weight: bold;
    font-size: 36px;
    &__fs14px {
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
    }
    &__fs16px {
        line-height: 24px;
        font-size: 16px;
    }
    &__fs20px {
        line-height: 30px;
        font-size: 20px;
    }
    &__fs36px {
        line-height: 36px;
        font-size: 36px;
    }
    &__fs48px {
        font-size: 48px;
    }
    &__title {
        text-align: center;
        position: relative;
        @include before-circle;
        &:before {
            width: 50px;
            height: 50px;
            top: -12px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}